{
  "swagger": "2.0",
  "info": {
    "description": "Api Documentation",
    "version": "1.0",
    "title": "Api Documentation",
    "termsOfService": "urn:tos",
    "contact": {},
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "facetsdemo.console.facets.cloud",
  "basePath": "/",
  "tags": [
    {
      "name": "application-controller",
      "description": "Application Controller"
    },
    {
      "name": "artifact-controller",
      "description": "Artifact Controller"
    },
    {
      "name": "artifactory-controller",
      "description": "Artifactory Controller"
    },
    {
      "name": "aws-cluster-controller",
      "description": "Aws Cluster Controller"
    },
    {
      "name": "azure-cluster-controller",
      "description": "Azure Cluster Controller"
    },
    {
      "name": "build-controller",
      "description": "Build Controller"
    },
    {
      "name": "callback-controller",
      "description": "Callback Controller"
    },
    {
      "name": "capillary-cloud-callback-controller",
      "description": "Capillary Cloud Callback Controller"
    },
    {
      "name": "common-cluster-controller",
      "description": "Common Cluster Controller"
    },
    {
      "name": "deployment-controller",
      "description": "Deployment Controller"
    },
    {
      "name": "gcp-cluster-controller",
      "description": "GCP Cluster Controller"
    },
    {
      "name": "meta-controller",
      "description": "Meta Controller"
    },
    {
      "name": "public-ap-is",
      "description": "Public AP Is"
    },
    {
      "name": "stack-controller",
      "description": "Stack Controller"
    },
    {
      "name": "ui-accounts-controller",
      "description": "Ui Accounts Controller"
    },
    {
      "name": "ui-alerts-controller",
      "description": "Ui Alerts Controller"
    },
    {
      "name": "ui-application-controller",
      "description": "Ui Application Controller"
    },
    {
      "name": "ui-artifact-ci-controller",
      "description": "Ui Artifact Ci Controller"
    },
    {
      "name": "ui-artifact-hub-controller",
      "description": "Ui Artifact Hub Controller"
    },
    {
      "name": "ui-artifact-routing-rule-controller",
      "description": "Ui Artifact Routing Rule Controller"
    },
    {
      "name": "ui-artifactory-controller",
      "description": "Ui Artifactory Controller"
    },
    {
      "name": "ui-artifacts-controller",
      "description": "Ui Artifacts Controller"
    },
    {
      "name": "ui-assistant-controller",
      "description": "Ui Assistant Controller"
    },
    {
      "name": "ui-audit-logs-controller",
      "description": "Ui Audit Logs Controller"
    },
    {
      "name": "ui-aws-cluster-controller",
      "description": "Ui Aws Cluster Controller"
    },
    {
      "name": "ui-azure-cluster-controller",
      "description": "Ui Azure Cluster Controller"
    },
    {
      "name": "ui-billing-controller",
      "description": "Ui Billing Controller"
    },
    {
      "name": "ui-blueprint-designer-controller",
      "description": "Ui Blueprint Designer Controller"
    },
    {
      "name": "ui-chat-gpt-controller",
      "description": "Endpoints for Chat GPT operations"
    },
    {
      "name": "ui-ci-cd-controller",
      "description": "Ui Ci Cd Controller"
    },
    {
      "name": "ui-cloud-cost-explorer-controller",
      "description": "Ui Cloud Cost Explorer Controller"
    },
    {
      "name": "ui-coder-controller",
      "description": "Ui Coder Controller"
    },
    {
      "name": "ui-common-cluster-controller",
      "description": "Ui Common Cluster Controller"
    },
    {
      "name": "ui-custom-content-controller",
      "description": "Ui Custom Content Controller"
    },
    {
      "name": "ui-custom-role-controller",
      "description": "Ui Custom Role Controller"
    },
    {
      "name": "ui-delivery-pipeline-controller",
      "description": "UI Delivery Pipeline Controller"
    },
    {
      "name": "ui-deployment-controller",
      "description": "Ui Deployment Controller"
    },
    {
      "name": "ui-domain-mapping-controller",
      "description": "Ui Domain Mapping Controller"
    },
    {
      "name": "ui-dropdowns-controller",
      "description": "Ui Dropdowns Controller"
    },
    {
      "name": "ui-gcp-cluster-controller",
      "description": "Ui GCP Cluster Controller"
    },
    {
      "name": "ui-iac-repo-controller",
      "description": "Ui Iac Repo Controller"
    },
    {
      "name": "ui-intent-controller",
      "description": "Ui Intent Controller"
    },
    {
      "name": "ui-k-8s-cluster-controller",
      "description": "Ui K 8s Cluster Controller"
    },
    {
      "name": "ui-kubernetes-explorer-controller",
      "description": "Ui Kubernetes Explorer Controller"
    },
    {
      "name": "ui-local-cluster-controller",
      "description": "Ui Local Cluster Controller"
    },
    {
      "name": "ui-maintenance-window-controller",
      "description": "Ui Maintenance Window Controller"
    },
    {
      "name": "ui-meta-controller",
      "description": "Ui Meta Controller"
    },
    {
      "name": "ui-no-auth-user-controller",
      "description": "Ui No Auth User Controller"
    },
    {
      "name": "ui-notification-controller",
      "description": "Ui Notification Controller"
    },
    {
      "name": "ui-o-auth-controller",
      "description": "Ui O Auth Controller"
    },
    {
      "name": "ui-one-time-webhook-controller",
      "description": "Ui One Time Webhook Controller"
    },
    {
      "name": "ui-opa-controller",
      "description": "Ui Opa Controller"
    },
    {
      "name": "ui-project-type-controller",
      "description": "Ui Project Type Controller"
    },
    {
      "name": "ui-promotion-workflow-controller",
      "description": "Ui Promotion Workflow Controller"
    },
    {
      "name": "ui-provided-resources-controller",
      "description": "Ui Provided Resources Controller"
    },
    {
      "name": "ui-queued-release-controller",
      "description": "Ui Queued Release Controller"
    },
    {
      "name": "ui-release-stream-controller",
      "description": "Ui Release Stream Controller"
    },
    {
      "name": "ui-resource-group-controller",
      "description": "Ui Resource Group Controller"
    },
    {
      "name": "ui-resource-status-controller",
      "description": "Ui Resource Status Controller"
    },
    {
      "name": "ui-settings-controller",
      "description": "Ui Settings Controller"
    },
    {
      "name": "ui-stack-controller",
      "description": "Ui Stack Controller"
    },
    {
      "name": "ui-team-controller",
      "description": "Ui Team Controller"
    },
    {
      "name": "ui-tf-module-controller",
      "description": "Ui TF Module Controller"
    },
    {
      "name": "ui-tf-output-controller",
      "description": "Ui Tf Output Controller"
    },
    {
      "name": "ui-tf-version-controller",
      "description": "Ui Tf Version Controller"
    },
    {
      "name": "ui-theme-file-controller",
      "description": "Ui Theme File Controller"
    },
    {
      "name": "ui-user-controller",
      "description": "Ui User Controller"
    },
    {
      "name": "ui-user-group-controller",
      "description": "Ui User Group Controller"
    },
    {
      "name": "ui-user-vcs-token-controller",
      "description": "Ui User VCS Token Controller"
    },
    {
      "name": "ui-versioning-controller",
      "description": "Ui Versioning Controller"
    },
    {
      "name": "ui-web-component-controller",
      "description": "Ui Web Component Controller"
    }
  ],
  "paths": {
    "/api/applicationFamilies": {
      "get": {
        "tags": [
          "application-controller"
        ],
        "summary": "getApplicationFamilies",
        "operationId": "getApplicationFamiliesUsingGET",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "CRM",
                  "ECOMMERCE",
                  "INTEGRATIONS",
                  "OPS"
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false,
        "parameters": []
      }
    },
    "/api/applicationFamilies/{applicationFamily}/metadata": {
      "post": {
        "tags": [
          "application-controller"
        ],
        "summary": "upsertApplicationFamilyMetadata",
        "operationId": "upsertApplicationFamilyMetadataUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          },
          {
            "in": "body",
            "name": "applicationFamilyMetadata",
            "description": "applicationFamilyMetadata",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplicationFamilyMetadata"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApplicationFamilyMetadata"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/applicationTypes": {
      "get": {
        "tags": [
          "application-controller"
        ],
        "summary": "getApplicationTypes",
        "operationId": "getApplicationTypesUsingGET",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "SERVICE",
                  "SCHEDULED_JOB",
                  "STATEFUL_SET",
                  "SERVERLESS"
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false,
        "parameters": []
      }
    },
    "/api/buildType/{buildType}/actions": {
      "post": {
        "tags": [
          "application-controller"
        ],
        "summary": "createGenericAction",
        "operationId": "createGenericActionUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "applicationAction",
            "description": "applicationAction",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplicationAction"
            }
          },
          {
            "name": "buildType",
            "in": "path",
            "description": "buildType",
            "required": true,
            "type": "string",
            "enum": [
              "MVN",
              "MVN_SONAR_BRANCH",
              "MVN_SONAR_BRANCH_UT_STRICT",
              "JDK11_MAVEN3",
              "JDK11_MVN3_SONAR_BRANCH",
              "JDK17_MVN3_SONAR_BRANCH",
              "JDK17_MVN3_LIBRARY_SONAR_BRANCH",
              "JAVA8_LIBRARY",
              "JAVA8_LIBRARY_SONAR_BRANCH",
              "FREESTYLE_DOCKER",
              "DOTNET_CORE",
              "MVN_IONIC",
              "MVN_IONIC_SONAR_BRANCH",
              "JDK6_MAVEN2",
              "MJ_NUGET",
              "DOTNET_CORE22",
              "DOTNET_CORE3",
              "SBT",
              "NPM",
              "NPM_SONAR_BRANCH",
              "NPM_LTS_V18_SONAR_BRANCH",
              "NPM_UI",
              "NPM_UI_SONAR_BRANCH",
              "NPM_UI_V14_SONAR_BRANCH",
              "THRIFT8_LIBRARY",
              "THRIFT9_LIBRARY",
              "THRIFT8_WITH_FLAGS_LIBRARY",
              "SCALA_LIBRARY",
              "CHEETAH_LIBRARY",
              "SHARINGAN_LIBRARY",
              "NPM_LTS_V20_SONAR_BRANCH",
              "JDK11_MVN3_LIBRARY_SONAR_BRANCH"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApplicationAction"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/cc-users": {
      "post": {
        "tags": [
          "application-controller"
        ],
        "summary": "createUserCC",
        "operationId": "createUserCCUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "user",
            "description": "user",
            "required": true,
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/cc/{applicationFamily}/environmentMetaData": {
      "get": {
        "tags": [
          "application-controller"
        ],
        "summary": "getCCEnvironmentMetaData",
        "operationId": "getCCEnvironmentMetaDataUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EnvironmentMetaData"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/codebuild/builds/{codeBuildId}/refresh": {
      "put": {
        "tags": [
          "application-controller"
        ],
        "summary": "refreshBuildDetails",
        "operationId": "refreshBuildDetailsUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "codeBuildId",
            "in": "path",
            "description": "codeBuildId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/ecrRegistry": {
      "post": {
        "tags": [
          "application-controller"
        ],
        "summary": "createECRRegistry",
        "operationId": "createECRRegistryUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "ecrRegistry",
            "description": "ecrRegistry",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ECRRegistry"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ECRRegistry"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/getEcrLoginToken": {
      "get": {
        "tags": [
          "application-controller"
        ],
        "summary": "getEcrToken",
        "operationId": "getEcrTokenUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Host",
            "in": "header",
            "description": "Host",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/getRegistries": {
      "get": {
        "tags": [
          "application-controller"
        ],
        "summary": "getAllRegistries",
        "operationId": "getAllRegistriesUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Registry"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false,
        "parameters": []
      }
    },
    "/api/login": {
      "get": {
        "tags": [
          "application-controller"
        ],
        "summary": "login",
        "operationId": "loginUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false,
        "parameters": []
      },
      "head": {
        "tags": [
          "application-controller"
        ],
        "summary": "login",
        "operationId": "loginUsingHEAD",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false,
        "parameters": []
      },
      "post": {
        "tags": [
          "application-controller"
        ],
        "summary": "login",
        "operationId": "loginUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false,
        "parameters": []
      },
      "put": {
        "tags": [
          "application-controller"
        ],
        "summary": "login",
        "operationId": "loginUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false,
        "parameters": []
      },
      "delete": {
        "tags": [
          "application-controller"
        ],
        "summary": "login",
        "operationId": "loginUsingDELETE",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false,
        "parameters": []
      },
      "options": {
        "tags": [
          "application-controller"
        ],
        "summary": "login",
        "operationId": "loginUsingOPTIONS",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false,
        "parameters": []
      },
      "patch": {
        "tags": [
          "application-controller"
        ],
        "summary": "login",
        "operationId": "loginUsingPATCH",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false,
        "parameters": []
      }
    },
    "/api/me": {
      "get": {
        "tags": [
          "application-controller"
        ],
        "summary": "me",
        "operationId": "meUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SimpleOauth2User"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false,
        "parameters": []
      }
    },
    "/api/stats": {
      "get": {
        "tags": [
          "application-controller"
        ],
        "summary": "globalStats",
        "operationId": "globalStatsUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GlobalStats"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false,
        "parameters": []
      }
    },
    "/api/users": {
      "get": {
        "tags": [
          "application-controller"
        ],
        "summary": "getUsers",
        "operationId": "getUsersUsingGET",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/User"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false,
        "parameters": []
      },
      "post": {
        "tags": [
          "application-controller"
        ],
        "summary": "createUser",
        "operationId": "createUserUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "user",
            "description": "user",
            "required": true,
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/users/{userId}": {
      "put": {
        "tags": [
          "application-controller"
        ],
        "summary": "updateUser",
        "operationId": "updateUserUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "user",
            "description": "user",
            "required": true,
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "userId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/users/{userId}/changePassword": {
      "put": {
        "tags": [
          "application-controller"
        ],
        "summary": "changePassword",
        "operationId": "changePasswordUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "pwdChange",
            "description": "pwdChange",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PasswordChange"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "userId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/{applicationFamily}/applications": {
      "get": {
        "tags": [
          "application-controller"
        ],
        "summary": "getApplications",
        "operationId": "getApplicationsUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Application"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      },
      "post": {
        "tags": [
          "application-controller"
        ],
        "summary": "createApplication",
        "operationId": "createApplicationUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "application",
            "description": "application",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      },
      "put": {
        "tags": [
          "application-controller"
        ],
        "summary": "updateApplication",
        "operationId": "updateApplicationUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "application",
            "description": "application",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/{applicationFamily}/applications/{applicationId}": {
      "get": {
        "tags": [
          "application-controller"
        ],
        "summary": "getApplication",
        "operationId": "getApplicationUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "applicationId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      },
      "delete": {
        "tags": [
          "application-controller"
        ],
        "summary": "deleteApplication",
        "operationId": "deleteApplicationUsingDELETE",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "applicationId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/{applicationFamily}/applications/{applicationId}/branches": {
      "get": {
        "tags": [
          "application-controller"
        ],
        "summary": "getApplicationBranches",
        "operationId": "getApplicationBranchesUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "applicationId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/{applicationFamily}/applications/{applicationId}/builds": {
      "get": {
        "tags": [
          "application-controller"
        ],
        "summary": "getBuilds",
        "operationId": "getBuildsUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "applicationId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Build"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      },
      "post": {
        "tags": [
          "application-controller"
        ],
        "summary": "build",
        "operationId": "buildUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "applicationId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "build",
            "description": "build",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Build"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Build"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/{applicationFamily}/applications/{applicationId}/builds/{buildId}": {
      "get": {
        "tags": [
          "application-controller"
        ],
        "summary": "getBuild",
        "operationId": "getBuildUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "applicationId",
            "required": true,
            "type": "string"
          },
          {
            "name": "buildId",
            "in": "path",
            "description": "buildId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Build"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      },
      "put": {
        "tags": [
          "application-controller"
        ],
        "summary": "updateBuild",
        "operationId": "updateBuildUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "applicationId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "build",
            "description": "build",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Build"
            }
          },
          {
            "name": "buildId",
            "in": "path",
            "description": "buildId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Build"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/{applicationFamily}/applications/{applicationId}/builds/{buildId}/downloadArtifacts": {
      "get": {
        "tags": [
          "application-controller"
        ],
        "summary": "downloadTestReport",
        "operationId": "downloadTestReportUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "applicationId",
            "required": true,
            "type": "string"
          },
          {
            "name": "buildId",
            "in": "path",
            "description": "buildId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/InputStreamResource"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/{applicationFamily}/applications/{applicationId}/builds/{buildId}/logs": {
      "get": {
        "tags": [
          "application-controller"
        ],
        "summary": "getBuildLogs",
        "operationId": "getBuildLogsUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "applicationId",
            "required": true,
            "type": "string"
          },
          {
            "name": "buildId",
            "in": "path",
            "description": "buildId",
            "required": true,
            "type": "string"
          },
          {
            "name": "nextToken",
            "in": "query",
            "description": "nextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TokenPaginatedResponse«LogEvent»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/{applicationFamily}/applications/{applicationId}/builds/{buildId}/testDetails": {
      "get": {
        "tags": [
          "application-controller"
        ],
        "summary": "getTestBuildDetails",
        "operationId": "getTestBuildDetailsUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "applicationId",
            "required": true,
            "type": "string"
          },
          {
            "name": "buildId",
            "in": "path",
            "description": "buildId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TestBuildDetails"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/{applicationFamily}/applications/{applicationId}/executedActions": {
      "get": {
        "tags": [
          "application-controller"
        ],
        "summary": "getExecutedActionsForApplication",
        "operationId": "getExecutedActionsForApplicationUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "applicationId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ActionExecution"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/{applicationFamily}/applications/{applicationId}/images": {
      "get": {
        "tags": [
          "application-controller"
        ],
        "summary": "getImages",
        "operationId": "getImagesUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "applicationId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/{applicationFamily}/applications/{applicationId}/metrics": {
      "get": {
        "tags": [
          "application-controller"
        ],
        "summary": "getApplicationMetricSummary",
        "operationId": "getApplicationMetricSummaryUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "applicationId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/ApplicationMetrics"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/{applicationFamily}/applications/{applicationId}/secretRequests": {
      "get": {
        "tags": [
          "application-controller"
        ],
        "summary": "getApplicationSecretRequests",
        "operationId": "getApplicationSecretRequestsUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "applicationId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ApplicationSecretRequest"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      },
      "post": {
        "tags": [
          "application-controller"
        ],
        "summary": "createAppSecretRequest",
        "operationId": "createAppSecretRequestUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "applicationId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "applicationSecretRequests",
            "description": "applicationSecretRequests",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ApplicationSecretRequest"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ApplicationSecretRequest"
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/{applicationFamily}/applications/{applicationId}/tags": {
      "get": {
        "tags": [
          "application-controller"
        ],
        "summary": "getApplicationTags",
        "operationId": "getApplicationTagsUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "applicationId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/{applicationFamily}/applications/{applicationId}/webhooks/pr/bitbucket": {
      "post": {
        "tags": [
          "application-controller"
        ],
        "summary": "processWebhookPRBitbucket",
        "operationId": "processWebhookPRBitbucketUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Host",
            "in": "header",
            "description": "Host",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Event-Key",
            "in": "header",
            "description": "X-Event-Key",
            "required": true,
            "type": "string"
          },
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "applicationId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "webhook",
            "description": "webhook",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BitbucketPREvent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/{applicationFamily}/applications/{applicationId}/webhooks/pr/github": {
      "post": {
        "tags": [
          "application-controller"
        ],
        "summary": "processWebhookPRGithub",
        "operationId": "processWebhookPRGithubUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Host",
            "in": "header",
            "description": "Host",
            "required": true,
            "type": "string"
          },
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "applicationId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "webhook",
            "description": "webhook",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GithubPREvent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/{applicationFamily}/appmetrics": {
      "get": {
        "tags": [
          "application-controller"
        ],
        "summary": "getAllApplicationMetrics",
        "operationId": "getAllApplicationMetricsUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ApplicationMetricsWrapper"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/{applicationFamily}/environmentMetaData": {
      "get": {
        "tags": [
          "application-controller"
        ],
        "summary": "getEnvironmentMetaData",
        "operationId": "getEnvironmentMetaDataUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EnvironmentMetaData"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/{applicationFamily}/environments": {
      "get": {
        "tags": [
          "application-controller"
        ],
        "summary": "getEnvironments",
        "operationId": "getEnvironmentsUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Environment"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      },
      "post": {
        "tags": [
          "application-controller"
        ],
        "summary": "upsertEnvironment",
        "operationId": "upsertEnvironmentUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          },
          {
            "in": "body",
            "name": "environment",
            "description": "environment",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Environment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Environment"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/{applicationFamily}/environments/{id}": {
      "get": {
        "tags": [
          "application-controller"
        ],
        "summary": "getEnvironment",
        "operationId": "getEnvironmentUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Environment"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/{applicationFamily}/{environment}/applications/{applicationId}/alerting": {
      "get": {
        "tags": [
          "application-controller"
        ],
        "summary": "getAlertingDetails",
        "operationId": "getAlertingDetailsUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "applicationId",
            "required": true,
            "type": "string"
          },
          {
            "name": "environment",
            "in": "path",
            "description": "environment",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Alerting"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      },
      "post": {
        "tags": [
          "application-controller"
        ],
        "summary": "enableAlerting",
        "operationId": "enableAlertingUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "applicationId",
            "required": true,
            "type": "string"
          },
          {
            "name": "environment",
            "in": "path",
            "description": "environment",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      },
      "delete": {
        "tags": [
          "application-controller"
        ],
        "summary": "disableAlerting",
        "operationId": "disableAlertingUsingDELETE",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "applicationId",
            "required": true,
            "type": "string"
          },
          {
            "name": "environment",
            "in": "path",
            "description": "environment",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/{applicationFamily}/{environment}/applications/{applicationId}/deployment/current": {
      "get": {
        "tags": [
          "application-controller"
        ],
        "summary": "getCurrentDeployment",
        "operationId": "getCurrentDeploymentUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "applicationId",
            "required": true,
            "type": "string"
          },
          {
            "name": "environment",
            "in": "path",
            "description": "environment",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Deployment"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/{applicationFamily}/{environment}/applications/{applicationId}/deploymentStatus": {
      "get": {
        "tags": [
          "application-controller"
        ],
        "summary": "getDeploymentStatus",
        "operationId": "getDeploymentStatusUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "applicationId",
            "required": true,
            "type": "string"
          },
          {
            "name": "environment",
            "in": "path",
            "description": "environment",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeploymentStatusDetails"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/{applicationFamily}/{environment}/applications/{applicationId}/deployments": {
      "post": {
        "tags": [
          "application-controller"
        ],
        "summary": "deploy",
        "operationId": "deployUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "applicationId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "deployment",
            "description": "deployment",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Deployment"
            }
          },
          {
            "name": "environment",
            "in": "path",
            "description": "environment",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Deployment"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/{applicationFamily}/{environment}/applications/{applicationId}/dumps": {
      "get": {
        "tags": [
          "application-controller"
        ],
        "summary": "getDumpFileList",
        "operationId": "getDumpFileListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "applicationId",
            "required": true,
            "type": "string"
          },
          {
            "name": "date",
            "in": "query",
            "description": "date",
            "required": false,
            "type": "string"
          },
          {
            "name": "environment",
            "in": "path",
            "description": "environment",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/{applicationFamily}/{environment}/applications/{applicationId}/dumps/download": {
      "get": {
        "tags": [
          "application-controller"
        ],
        "summary": "downloadDumpFile",
        "operationId": "downloadDumpFileUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "applicationId",
            "required": true,
            "type": "string"
          },
          {
            "name": "environment",
            "in": "path",
            "description": "environment",
            "required": true,
            "type": "string"
          },
          {
            "name": "path",
            "in": "query",
            "description": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/InputStreamResource"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/{applicationFamily}/{environment}/applications/{applicationId}/halt": {
      "post": {
        "tags": [
          "application-controller"
        ],
        "summary": "haltApplication",
        "operationId": "haltApplicationUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "applicationId",
            "required": true,
            "type": "string"
          },
          {
            "name": "environment",
            "in": "path",
            "description": "environment",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/{applicationFamily}/{environment}/applications/{applicationId}/monitoring": {
      "get": {
        "tags": [
          "application-controller"
        ],
        "summary": "getMonitoringDetails",
        "operationId": "getMonitoringDetailsUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "applicationId",
            "required": true,
            "type": "string"
          },
          {
            "name": "environment",
            "in": "path",
            "description": "environment",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Monitoring"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      },
      "post": {
        "tags": [
          "application-controller"
        ],
        "summary": "enableMonitoring",
        "operationId": "enableMonitoringUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "applicationId",
            "required": true,
            "type": "string"
          },
          {
            "name": "environment",
            "in": "path",
            "description": "environment",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      },
      "delete": {
        "tags": [
          "application-controller"
        ],
        "summary": "disableMonitoring",
        "operationId": "disableMonitoringUsingDELETE",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "applicationId",
            "required": true,
            "type": "string"
          },
          {
            "name": "environment",
            "in": "path",
            "description": "environment",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/{applicationFamily}/{environment}/applications/{applicationId}/podDetails": {
      "get": {
        "tags": [
          "application-controller"
        ],
        "summary": "getApplicationPodDetails",
        "operationId": "getApplicationPodDetailsUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "applicationId",
            "required": true,
            "type": "string"
          },
          {
            "name": "environment",
            "in": "path",
            "description": "environment",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ApplicationPodDetails"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/{applicationFamily}/{environment}/applications/{applicationId}/pods/{podName}/actions": {
      "get": {
        "tags": [
          "application-controller"
        ],
        "summary": "getActionsForPod",
        "operationId": "getActionsForPodUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "applicationId",
            "required": true,
            "type": "string"
          },
          {
            "name": "environment",
            "in": "path",
            "description": "environment",
            "required": true,
            "type": "string"
          },
          {
            "name": "podName",
            "in": "path",
            "description": "podName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ApplicationAction"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/{applicationFamily}/{environment}/applications/{applicationId}/pods/{podName}/actions/executeAction": {
      "post": {
        "tags": [
          "application-controller"
        ],
        "summary": "executeActionOnPod",
        "operationId": "executeActionOnPodUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "applicationAction",
            "description": "applicationAction",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplicationAction"
            }
          },
          {
            "name": "applicationFamily",
            "in": "path",
            "description": "applicationFamily",
            "required": true,
            "type": "string",
            "enum": [
              "CRM",
              "ECOMMERCE",
              "INTEGRATIONS",
              "OPS"
            ]
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "applicationId",
            "required": true,
            "type": "string"
          },
          {
            "name": "environment",
            "in": "path",
            "description": "environment",
            "required": true,
            "type": "string"
          },
          {
            "name": "podName",
            "in": "path",
            "description": "podName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ActionExecution"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "main": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
[...]
